In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [45]:
apartamentos_cdadmndza = pd.read_csv("Datos-Apartamentos-Mndza/Apartamentos-CdadMendoza.csv", sep=',', encoding='utf-8')
apartamentos_lujandecuyo = pd.read_csv("Datos-Apartamentos-Mndza/Apartamentos-LujanDeCuyo.csv", sep=',', encoding='utf-8')
apartamentos_malargue = pd.read_csv("Datos-Apartamentos-Mndza/Apartamentos-Malargüe.csv", sep=',', encoding='utf-8')
apartamentos_sanrafael = pd.read_csv("Datos-Apartamentos-Mndza/Apartamentos-SanRafael.csv", sep=',', encoding='utf-8')
apartamentos_tunuyan = pd.read_csv("Datos-Apartamentos-Mndza/Apartamentos-Tunuyan.csv", sep=',', encoding='utf-8')
apartamentos_tupungato = pd.read_csv("Datos-Apartamentos-Mndza/Apartamentos-Tupungato.csv", sep=',', encoding='utf-8')
apartamentos_uspallata = pd.read_csv("Datos-Apartamentos-Mndza/Apartamentos-Uspallata.csv", sep=',', encoding='utf-8')

In [46]:
apartamentos_mndza = pd.concat([apartamentos_cdadmndza, apartamentos_lujandecuyo, 
                                apartamentos_malargue, apartamentos_sanrafael,
                                apartamentos_tunuyan, apartamentos_tupungato, 
                                apartamentos_uspallata
                                ], ignore_index=True)

In [47]:
df_apartamentos_mndza = pd.DataFrame(apartamentos_mndza)

df_apartamentos_mndza

,Nombre alojamiento,Precio alojamiento,Ubicacion alojamiento
0,Departamento microcentro Mendoza,$ 781.868,"Centro de la ciudad de Mendoza, Mendoza"
1,Departamento en Capital,$ 976.537,"Centro de la ciudad de Mendoza, Mendoza"
2,25 de Mayo Apart,$ 1.728.088,"Centro de la ciudad de Mendoza, Mendoza"
3,Departamento en zona ideal.,$ 1.148.867,"Centro de la ciudad de Mendoza, Mendoza"
4,Cocohouse,$ 976.537,"Centro de la ciudad de Mendoza, Mendoza"
...,...,...,...
151,Cabañas Cerro Tolosa,$ 1.627.562,Uspallata
152,Solanas de Uspallata,$ 2.553.038,Uspallata
153,"Cabaña de alta categoría en Vistacalma, Potrer...",$ 3.001.415,Guido
154,Cabañas de Alta Montaña,$ 2.297.734,Luján de Cuyo
155,Cabaña en Potrerillos,$ 2.929.611,Luján de Cuyo

In [ ]:
# Transformar valores string a tipo numéricos de la columna Precio Apartamento
df_apartamentos_mndza['Precio alojamiento'] = df_apartamentos_mndza['Precio alojamiento'].str.replace('$', '').str.replace('.', '').astype(float)


# Convvertir nombre de apartamentos en letra minúscula 
df_apartamentos_mndza['Nombre alojamiento'] = df_apartamentos_mndza['Nombre alojamiento'].str.lower()

In [49]:
df_apartamentos_mndza

,Nombre alojamiento,Precio alojamiento,Ubicacion alojamiento
0,departamento microcentro mendoza,781868.0,"Centro de la ciudad de Mendoza, Mendoza"
1,departamento en capital,976537.0,"Centro de la ciudad de Mendoza, Mendoza"
2,25 de mayo apart,1728088.0,"Centro de la ciudad de Mendoza, Mendoza"
3,departamento en zona ideal.,1148867.0,"Centro de la ciudad de Mendoza, Mendoza"
4,cocohouse,976537.0,"Centro de la ciudad de Mendoza, Mendoza"
...,...,...,...
151,cabañas cerro tolosa,1627562.0,Uspallata
152,solanas de uspallata,2553038.0,Uspallata
153,"cabaña de alta categoría en vistacalma, potrer...",3001415.0,Guido
154,cabañas de alta montaña,2297734.0,Luján de Cuyo
155,cabaña en potrerillos,2929611.0,Luján de Cuyo

In [40]:
df_apartamentos_mndza['Tipo alojamiento'] = "Departamento"

In [51]:
df_apartamentos_mndza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nombre alojamiento     156 non-null    object
 1   Precio alojamiento     156 non-null    float64
 2   Ubicacion alojamiento  156 non-null    object
dtypes: float64(1), object(2)
memory usage: 3.8+ KB

In [53]:
df_apartamentos_mndza.describe()

       Precio alojamiento
count        1.560000e+02
mean         8.506415e+06
std          8.587811e+07
min          3.829560e+05
25%          1.116068e+06
50%          1.454114e+06
75%          1.902811e+06
max          1.074191e+09

In [57]:
print("Valores nulos encontrados:", np.sum(df_apartamentos_mndza.isna()))

print("Valores repetidos encontrados:", np.sum(df_apartamentos_mndza.duplicated()))

Valores nulos encontrados: Nombre alojamiento       0
Precio alojamiento       0
Ubicacion alojamiento    0
dtype: int64
Valores repetidos encontrados: 15

In [59]:
df_apartamentos_mndza.drop_duplicates(inplace=True)

print("Valores repetidos encontrados:", np.sum(df_apartamentos_mndza.duplicated()))

Valores repetidos encontrados: 0

In [61]:
df_apartamentos_mndza

,Nombre alojamiento,Precio alojamiento,Ubicacion alojamiento
0,departamento microcentro mendoza,781868.0,"Centro de la ciudad de Mendoza, Mendoza"
1,departamento en capital,976537.0,"Centro de la ciudad de Mendoza, Mendoza"
2,25 de mayo apart,1728088.0,"Centro de la ciudad de Mendoza, Mendoza"
3,departamento en zona ideal.,1148867.0,"Centro de la ciudad de Mendoza, Mendoza"
4,cocohouse,976537.0,"Centro de la ciudad de Mendoza, Mendoza"
...,...,...,...
151,cabañas cerro tolosa,1627562.0,Uspallata
152,solanas de uspallata,2553038.0,Uspallata
153,"cabaña de alta categoría en vistacalma, potrer...",3001415.0,Guido
154,cabañas de alta montaña,2297734.0,Luján de Cuyo
155,cabaña en potrerillos,2929611.0,Luján de Cuyo

In [66]:
casaschalets_Cdadmndza = pd.read_csv("Datos-CasasChalets-Mndza/CasasYChalets-CdadMndza.csv", sep=',', encoding='utf-8')
casaschalets_lujandecuyo = pd.read_csv("Datos-CasasChalets-Mndza/CasasYChalets-LujanDeCuyo.csv", sep=',', encoding='utf-8')
casaschalets_malargue = pd.read_csv("Datos-CasasChalets-Mndza/CasasYChalets-Malargüe.csv", sep=',', encoding='utf-8')
casaschalets_sanrafael = pd.read_csv("Datos-CasasChalets-Mndza/CasasYChalets-SanRafael.csv", sep=',', encoding='utf-8')
casaschalets_tunuyan = pd.read_csv("Datos-CasasChalets-Mndza/CasasYChalets-Tunuyan.csv", sep=',', encoding='utf-8')
casaschalets_tupungato = pd.read_csv("Datos-CasasChalets-Mndza/CasasYChalets-Tupungato.csv", sep=',', encoding='utf-8')
casaschalets_uspallata = pd.read_csv("Datos-CasasChalets-Mndza/CasasYChalets-Uspallata.csv", sep=',', encoding='utf-8')

In [68]:
casaschalets_mndza = pd.concat([casaschalets_Cdadmndza, casaschalets_lujandecuyo, casaschalets_malargue,
                                casaschalets_sanrafael, casaschalets_tunuyan, casaschalets_tupungato, 
                                casaschalets_uspallata
                                ], ignore_index=True)


df_casaschalets_mndza = pd.DataFrame(casaschalets_mndza)

In [70]:
df_casaschalets_mndza

,Nombre alojamiento,Precio alojamiento,Ubicacion alojamiento
0,Hermosa casa estilo nórdico en tranquilo barri...,$ 3.347.033,"Centro de la ciudad de Mendoza, Mendoza"
1,"La Casita de Paso de los Andes, Mendoza",$ 2.010.517,"Centro de la ciudad de Mendoza, Mendoza"
2,Casa entera centro de Mza!,$ 1.595.649,"Centro de la ciudad de Mendoza, Mendoza"
3,Tiburcio,$ 2.818.979,"Centro de la ciudad de Mendoza, Mendoza"
4,Casa Quinta Sección a 150 metros parque San Ma...,$ 3.255.123,"Centro de la ciudad de Mendoza, Mendoza"
...,...,...,...
150,Nada,$ 1.085.041,Uspallata
151,Cabaña LA EMILIA Private house,$ 3.431.283,Uspallata
152,Aires de Uspallata,$ 3.510.427,Uspallata
153,La Quebrada Potrerillos - Lodges de Montaña,$ 4.946.511,Potrerillos
154,Cabañas Alta Montaña,$ 3.414.688,Guido

In [71]:
# Transformar valores string a tipo numéricos de la columna Precio Apartamento
df_casaschalets_mndza['Precio alojamiento'] = df_casaschalets_mndza['Precio alojamiento'].str.replace('$', '').str.replace('.', '').astype(float)


# Convvertir nombre de apartamentos en letra minúscula 
df_casaschalets_mndza['Nombre alojamiento'] = df_casaschalets_mndza['Nombre alojamiento'].str.lower()

In [74]:
print("Valores nulos encontrados:", np.sum(df_casaschalets_mndza.isna()))

print("Valores duplicados encontrados:", np.sum(df_casaschalets_mndza.duplicated()))

Valores nulos encontrados: Nombre alojamiento       0
Precio alojamiento       0
Ubicacion alojamiento    0
dtype: int64
Valores duplicados encontrados: 17

In [75]:
df_casaschalets_mndza.drop_duplicates(inplace=True)
print("Valores duplicados:", np.sum(df_casaschalets_mndza.duplicated()))

Valores duplicados: 0

In [78]:
df_casaschalets_mndza['Tipo alojamiento'] = "Casas y Chalets"

In [79]:
df_casaschalets_mndza

,Nombre alojamiento,Precio alojamiento,Ubicacion alojamiento,Tipo alojamiento
0,hermosa casa estilo nórdico en tranquilo barri...,3347033.0,"Centro de la ciudad de Mendoza, Mendoza",Casas y Chalets
1,"la casita de paso de los andes, mendoza",2010517.0,"Centro de la ciudad de Mendoza, Mendoza",Casas y Chalets
2,casa entera centro de mza!,1595649.0,"Centro de la ciudad de Mendoza, Mendoza",Casas y Chalets
3,tiburcio,2818979.0,"Centro de la ciudad de Mendoza, Mendoza",Casas y Chalets
4,casa quinta sección a 150 metros parque san ma...,3255123.0,"Centro de la ciudad de Mendoza, Mendoza",Casas y Chalets
...,...,...,...,...
150,nada,1085041.0,Uspallata,Casas y Chalets
151,cabaña la emilia private house,3431283.0,Uspallata,Casas y Chalets
152,aires de uspallata,3510427.0,Uspallata,Casas y Chalets
153,la quebrada potrerillos - lodges de montaña,4946511.0,Potrerillos,Casas y Chalets
154,cabañas alta montaña,3414688.0,Guido,Casas y Chalets